.vehicleSelectComponentWrapper{
    height: 100%;
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar{
        display: none;
    }
}

.vehicleContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid var(--item-border-color);
    line-height: 1.2rem;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: border-color 0.2s ease-out;
    &:hover{
        border: 2px solid var(--item-border-hover-color);
    }
}

.vehicleImage {
    width: 15vw;
    height: auto;
    min-width: 3rem;
    max-width: 6rem; // Set a maximum width
    max-height: 4rem; // Set a maximum height
    padding: 5px;
}

.vehicleSeatIcon{
    font-size: clamp(12px, calc(12px + 0.5vw), 14px); 
}

.vehicleDetails {
    display: flex;
    align-items: center;
    font-size: clamp(14px, calc(14px + 0.5vw), 20px);
    gap: 5px;
}

.vehicleTime {
    display: flex;
    font-size: clamp(10px, calc(10px + 0.5vw), 14px);
    gap: 5px;
}
.vehicleStyle{
    display: flex;
    font-size: clamp(10px, calc(10px + 0.5vw), 14px);
    color: grey;
    gap: 5px;
}

.vehiclePrice {
    font-size: 14px;
}