@use '../../mixins.scss';


.zyloDriveheader{
    width: 100%;
    height: auto;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--background-color);
    backdrop-filter: blur(100%);
}
.userIcon{
    width: auto;
    height: auto;
    padding: 10px;
    background-color: var(--user-background-color-icon);
    border-radius: 50%;
    transform: scale(0.7);
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    &:hover{
        transform: scale(0.9);
    }
}

.profileContainer{
    max-height: 0px; /* Use max-height for smoother transitions */
    overflow: hidden; /* Ensure content is hidden when max-height is 0 */
    width: auto;
    z-index: 999;
    background-color: var(--card-color);
    position: absolute;
    top:95%;
    right:5px;
    border : 1px solid  var(--card-border);
    border-radius: 8px;
    pointer-events: none; /* Prevent interaction when hidden */
    visibility: hidden; /* Hide content initially */
    transition: opacity 0.5s ease-out, max-height 0.5s ease-out, visibility 0.5s ease-out;

    &[data-userClick="true"] {
        opacity: 1;
        max-height:200px;
        pointer-events: auto; /* Allow interaction when visible */
        visibility: visible; /* Show content when expanded */
    }
}

.profileContent{
    padding:10px;
    min-height: 90px;
    min-width: 250px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin:10px 0px;
}

.themeSelect{
    width: 80%;
}

.popupbutton{
    width: 100%;
    margin: 10px 0px;
    height: 35px;
    border: 2px solid var(--button-background-color);
    border-radius: 8px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;

    &:disabled{
        cursor: not-allowed;
        opacity: 0.5;
    }
}
