.LocationSearchPanelWrapper {
    height: 400px;
    padding: 10px;
    overflow: auto;

    // background-color: greenyellow;
    /* width */
    &::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #BDBDBD;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #BDBDBD;
    }
}

.LocationSearchItem {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    animation: scaleup 0.5s ease-out;

    @keyframes scaleup {
        from {
            transform:translateY(20px);
        }

        to {
            transform: translateY(0);
        }
    }

    &:hover{
        background-color: var(--item-hover);
    }
}
